{
    "extends": "airbnb",
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "globals": {
        "require": true,
        "JSON": true
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "no-mixed-operators": "off",
        "no-plusplus": "off",
        "no-console": "off",
        "arrow-body-style": ["error", "as-needed"],
        "no-use-before-define": ["error", { "functions": true, "classes": true, "variables": false }],
        "default-case": 0
    }
}
