@import '../../../theme/main.scss';

$scoreOutsidePosition: 100;

.score {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    font-family: $mainFont;
    font-size: 60px;
    color: $white;
    box-sizing: border-box;
    padding: 10px 0px;
    text-align: center;
    transform: translateY(-#{$scoreOutsidePosition}px);
}

:export {
    scoreOutsidePosition: $scoreOutsidePosition;
}
