@font-face {
    font-family: 'Pixellari';
    src: url(/static/fonts/Pixellari.eot);
    src: url(/static/fonts/Pixellari.eot?#iefix) format('embedded-opentype'),
        url(/static/fonts/Pixellari.woff) format('woff'),
        url(/static/fonts/Pixellari.ttf) format('truetype'),
        url(/static/fonts/Pixellari.svg#Pixellari) format('svg');
    font-weight: 500;
    font-style: normal;
}

