@import '../../../theme/main.scss';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 30px;
}

.logo {
    width: 61.6%;
    height: auto;
}