@import '../../../theme/main.scss';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.logo {
    width: 285px;
    height: auto;
}

.buttons {
    width: 285px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
        margin-bottom: 5px;
    }

    .play {
        width: 285px;
    }

    .sound {
        width: 140px;
    }

    .about {
        width: 140px;
    }
}
